@use '../abstracts' as a;

html{
    scroll-behavior: smooth;
}


body {
    .container1 {
        width: 100vw;
        height: 118vh;
        background: url(../images/about-web1920.png) no-repeat, linear-gradient( a.$primary-color, a.$primary-color);
        // background-position: center;
        background-size: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
        justify-content: space-around;
        flex-direction: row;
        // position: relative;
    }

    .card2 {
        width: 100%;
        max-width: 1920px;
        min-width: 375px;
        height: 880px;
        color: #fff;
        // text-align: center;
        padding: 30px;
        margin-top: 100px;
        // padding-top: 100px;
        border: 1px solid rgba(225, 225, 225,0.3);
        background: rgba(100, 100, 100, 0.1);
        // background: rgba(225, 225, 225,0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
        backdrop-filter: blur(40px);
        flex-direction: row;
        justify-content: space-between;
        display: grid;
        // display: flex;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        position: relative;
    }

    .text-about {
        align-items: center;
        justify-content: center;
        position: absolute;
        // position: relative;
        text-align: left;
        margin-top: 90px;
    }

    .text-about h1 {
        font-family: a.$heading-font-family;
        // font-size: 50px;
        font-size: a.$mobile-heading-font-size;
        font-weight: a.$heading-font-weight;
        display: grid;
        margin-top: 50px;
        margin-left: 0px;
    }

    .text-about h2 {
        font-family: a.$heading-font-family;
        // font-size: 50px;
        font-size: a.$mobile-heading-font-size;
        font-weight: a.$heading-font-weight;
        display: grid;
        margin-top: 10px;
        padding-right: 10px;
    }

    .text-about p {
        font-family: a.$body-font-family;
        font-size: a.$mobile-body-font-size;
        line-height: 30px;
        padding-top: 0px;
        display: grid;
        margin-left: 10px;
        padding-right: 30px;
    }

    .btn2 {
        border: 3px solid #fff;
        background: none;
        // font-family: a.$body-font-family;
        // font-size: a.$body-font-size;
        color: #fff;
        height: 40px;
        width: 155px;
        // padding: 20px;
        text-align: center;
        margin-top: 610px;
        margin-left: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .btn2 h3{
        margin-top: 6%;
        font-weight: a.$btn-font-weight;
        font-family: a.$body-font-family;
        font-size: a.$mobile-body-font-size;
    }

    .btn2:hover{
        color: a.$primary-color;
    }

    .btn2::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: a.$secondary-color;
        z-index: -1;
        transition: 0.5s;
        top: 0;
        border-radius: 0 0 0 0;
    }

    .btn2:hover::before{
        height: 100%;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
        
    }

    #about-me img {
        max-width: 50%;
    }

}

@media screen and (min-width: 768px) { 
    body {
        .card {
            width: 100%;
            max-width: 768px;
            height: 90px;
            padding: 50px;
            margin-top: 0;
        }
    
    }
    
}

@media screen and (min-width: 1200px) { 
    body {
    
        .card {
            width: 85%;
            height: 600px;
            padding: 70px;
        }

        .text-about {
            margin-top: 30px;
        }
    
        .text-about h1{
            font-size: 30px;
            margin-top: 30px;
            margin-left: 25px;
        }

        .text-about h2 {
            font-size: 30px;
            margin-top: 30px;
            margin-left: 25px;
        }
    
        .text-about p {
            font-size: a.$l-body-font-size;
            line-height: 32px;
            padding-top: 30px;
            margin-left: 150px;
        }

        #about-me img {
            width: 30%;
            margin-top: -30px;
            margin-left: -10px;
        }

        .btn2 {
            border: 3px solid #fff;
            background: none;
            font-family: a.$body-font-family;
            font-size: a.$l-body-font-size;
            font-weight: 600;
            color: #fff;
            height: 70px;
            width: 240px;
            // padding: 20px;
            text-align: center;
            margin-top: 175px;
            margin-left: 10px;
        }

    }

}

@media screen and (min-width: 1920px) { 
    body {

        .container1 {
            width: 100vw;
            height: 100vh;
            background-size: 80%;
        }
    
        .card {
            width: 100%;
            height: 970px;
            padding: 100px;
        }
    
        .text-about {
            margin-top: 90px;
        }
    
        .text-about h1 {
            font-family: a.$heading-font-family;
            font-size: 50px;
            font-weight: a.$heading-font-weight;
            margin-top: 30px;
        }
    
        .text-about h2 {
            font-family: a.$heading-font-family;
            font-size: 50px;
            font-weight: a.$heading-font-weight;
            display: grid;
            margin-top: 30px;
        }
    
        .text-about p {
            font-family: a.$body-font-family;
            font-size: a.$body-font-size;
            line-height: 50px;
            padding-top: 10px;
            display: grid;
            margin-left: 170px;
        }
    
        .btn2 {
            border: 3px solid #fff;
            background: none;
            // font-family: a.$body-font-family;
            // font-size: a.$body-font-size;
            color: #fff;
            height: 90px;
            width: 400px;
            // padding: 20px;
            text-align: center;
            margin-top: 230px;
            margin-left: 30px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.5s;
            position: relative;
            justify-content: center;
            align-items: center;
        }
    
        .btn2 h3{
            margin-top: 6%;
            font-weight: a.$btn-font-weight;
            font-family: a.$body-font-family;
            font-size: a.$body-font-size;
        }
    
        .btn2:hover{
            color: a.$primary-color;
        }
    
        .btn2::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0%;
            background: a.$secondary-color;
            z-index: -1;
            transition: 0.5s;
            top: 0;
            border-radius: 0 0 0 0;
        }
    
        .btn2:hover::before{
            height: 100%;
        }
    
        @keyframes blink {
            0% {
                opacity: 100%;
            }
            50% {
                opacity: 0%;
            }
            
        }
    
        .text-hero p {
            font-family: a.$body-font-family;
            font-size: a.$body-font-size;
            line-height: 50px;
            padding-top: 10px;
        }
    
        #about-me img {
            max-width: 100%;
            margin-top: 0px;
            margin-left: 0px;
        }
    
    }

}

