@use '../abstracts' as a;

body {
    .container {
        width: 100vw;
        // max-width: 1920px;
        height: 100vh;
        background: url(../images/web1920.png) no-repeat, linear-gradient( a.$primary-color, a.$primary-color);
        // background-position: center;
        background-size: 70%;
        display: flex;
        align-items: center;
        // justify-content: center;
        justify-content: space-around;
        flex-direction: row;
        // position: relative;
    }
}

.container4 {
    width: 100vw;
    // max-width: 1920px;
    height: 100vh;
    background: url(../images/web1920.png) no-repeat, linear-gradient( a.$primary-color, a.$primary-color);
    // background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    // position: relative;
}